/************ NAV BAR STYLING *****************/
/* if this nav bar works then we will transfer styling to styles.css */

#header {
    height:             40px;
    position:relative;
    background:#111;
    width:100%;
}

/*
.active{
    background-color: crimson;
}
*/


.nav-bar > ul {
    width:              100%;
    list-style-type:    none;
    margin:             0;
    padding:            0;
    overflow:           hidden;

}

.nav-bar > li {
    float:              left;
    cursor:pointer;
}

.nav-bar > li .logo-item{
    padding:            0 0;
}

.nav-bar > li > a {
    color:              #eee;
    display:            inline-block;
    text-align:         center;
    padding:            14px 16px 10.4px;
    text-decoration:    none;
}

.nav-bar #logo {
    max-height:          40px;
    float:              left;
}
.nobody{
    max-width:200px;
}

.ngText p{
    margin-left:5vw;
    display:block;
}
p.about{
    font-size:1.5em;
}





/* Change the link color to #111 (black) on hover */
.tab:hover > a {
    background-color:   rgba(255,0,0,0.9);
    color:              whitesmoke;
}
.youtube:hover > a{
    color:#eee;
    background-color:rgba(255,0,0,0.8);
}
.facebook:hover > a{
    color:#eee;
    background-color:rgba(0,0,255,.8);
}


/************ END NAV BAR STYLING *****************/


/* below are just temporary styling overrides for an alternate footer styling */

.container{
    width:auto;
    float:right;
    margin:0;
    padding:0;
}
.footer p{
    display:inline-block;
}


/* End temporary styling */