/************ NAV BAR STYLING *****************/
/* if this nav bar works then we will transfer styling to styles.css */

#header {
    height:             40px;
    position:relative;
    background:#111;
    width:100%;
}

/*
.active{
    background-color: crimson;
}
*/

.nav-bar > ul {
    width:              100%;
    list-style-type:    none;
    margin:             0;
    padding:            0;
    overflow:           hidden;

}

.nav-bar > li {
    float:              left;
}

.nav-bar > li .logo-item{
    padding:            0 0;
}

.nav-bar > li > a {
    color:              #eee;
    display:            inline-block;
    text-align:         center;
    padding:            14px 16px 10.4px;
    text-decoration:    none;
}

.nav-bar #logo {
    max-height:          40px;
    float:              left;
}

.ngText p{
    margin-left:5vw;
    display:block;
}



/* Change the link color to #111 (black) on hover */
.tab:hover > a {
    background-color:   rgba(255,0,0,0.9);
    color:              whitesmoke;
}


/************ END NAV BAR STYLING *****************/


/* below are just temporary styling overrides for an alternate footer styling */
.footer {
    position:           fixed;
    color:              darkgray;
    background-color:   black;
    font-size: .8em;
    width:              100vw;
    max-height:             50px;
}
.col-sm-5{
    margin-top:6px;
    display:inline;
}

.social-media-icons > a > img {
    max-width:          30px;
    float:right;
}
/* End temporary styling */
@media (min-width: 769px){
    .footer{
        font-size:1em;
    }
}